@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/urbanist.woff');
    font-display: block;
    font-style: normal;
    font-weight: 300 900;
    font-stretch: 75% 12%;
}
